## Handling Missing Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5]],
                  columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [3]:
df.dropna(axis=1, how='all')  # axis=0은 row, axis=1은 column을 의미합니다.

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5

In [4]:
df.dropna(axis=1, how='any')

   D
0  0
1  1
2  5

In [5]:
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [6]:
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(value=values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [7]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [8]:
fill_na_value = df['D'].mean()
fill_na_value

2.0

In [9]:
df.fillna(fill_na_value)

     A    B    C  D
0  2.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  2.0  2.0  2.0  5

In [10]:
df.isnull().sum()

A    2
B    1
C    3
D    0
dtype: int64

In [11]:
df.notnull().sum()

A    1
B    2
C    0
D    3
dtype: int64