## Make New Columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1 -0.512093
1   2  0.935708
2   3 -1.435786
3   4  1.169074
4   5 -0.239653
5   6  1.195199
6   7  2.412642
7   8  0.247266
8   9  0.622046
9  10 -0.452731

In [3]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1 -0.512093  0.000000
1  2  0.935708  0.693147
2  3 -1.435786  1.098612
3  4  1.169074  1.386294
4  5 -0.239653  1.609438

In [4]:
df["ln_A"] = np.log(df.A)
df.head()

   A         B      ln_A
0  1 -0.512093  0.000000
1  2  0.935708  0.693147
2  3 -1.435786  1.098612
3  4  1.169074  1.386294
4  5 -0.239653  1.609438

In [5]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])

['good', 'good', 'medium', 'bad', 'bad']
Categories (3, object): ['good' < 'medium' < 'bad']

In [6]:
pd.qcut(df.A, 3, labels=["good", "medium", "bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [7]:
pd.qcut(df.B, 3, labels=["good", "medium", "bad"])

0      good
1    medium
2      good
3       bad
4      good
5       bad
6       bad
7    medium
8    medium
9      good
Name: B, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [8]:
df.max(axis=1)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [9]:
df.max(axis=0)

A       10.000000
B        2.412642
ln_A     2.302585
dtype: float64

In [10]:
df.min(axis=1)

0   -0.512093
1    0.693147
2   -1.435786
3    1.169074
4   -0.239653
5    1.195199
6    1.945910
7    0.247266
8    0.622046
9   -0.452731
dtype: float64

In [11]:
df["A"].clip(lower=-1,upper=3)

0    1
1    2
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
Name: A, dtype: int64

In [12]:
df["B"].abs()

0    0.512093
1    0.935708
2    1.435786
3    1.169074
4    0.239653
5    1.195199
6    2.412642
7    0.247266
8    0.622046
9    0.452731
Name: B, dtype: float64